{% extends 'base.html' %}
{% block content %}
<main class="container">
    <div class="col-md-4 offset-md-3">
        <h1>Task Details</h1>
        {{error}}
        <h1 class="text-secondary">{{task.title}}</h1>        
        <form method="POST" class="mb-3">
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-primary w-70 mb-3">
                Update
            </button>
        </form>
        <div class="d-flex gap-2">    
            <form action="{% url 'complete_task' task.id %}" method="POST">
                {% csrf_token %}
                <button class="btn btn-success">
                    Complete
                </button>
            </form>
            <form action="{% url 'delete_task' task.id %}" method="POST">
                {% csrf_token %}
                <button class="btn btn-danger">
                    Delete
                </button>
        </div>
        </form>
    </div>
</main>
{% endblock %}